:root{
  --color-yellow: #FFC32D;
  --color-yellow-dark: #DDA927;
  --color-grey: #565B5F;
  --color-black: #373535;
  --color-grey-light: #DDDDDE;
  --color-background-white: #FFF;
  --color-background-grey: #565B5F;
  --color-background-yellow: #FFC32D;

}
/*
Fontes:
expansiva regular/bold/italic - titulos
myriad pro regular/bold/italic - textos, legendas e notas
*/
